#form{
display:flex;
}

h1{
  text-align:center;
  font-size: 6vw;
}
h2 {
  text-align:center; 
  font-size: 1.5vw;
}
button{
  font-size: 3.5vw;
}
progress{
  margin-left:1vw; 
  width: 30vw; 
  height: 7vw; 
}
.container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 50vw;
  border: 0.1vw solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 1vw 1vw;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
flex-grow: 1;
}
.container2{
height:9vw;
  margin:0px auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 40vw;
  border: 0.1vw solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 1vw 1vw;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
flex-grow: 1;
}
#show{
width:92.2vw;
border-radius: 1vw 1vw 0 0;
}